*{
    margin:0;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



body{

     background-color:#1d2026;
     color: beige;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     

}



/***nav bar*/

.container_parent {
  
  display: flex;
  align-items: center;
  min-height: 5vh;
  margin:4%;
}

.logo{

margin-left: 6%;
font-size: 44px;
cursor: pointer;

  
}
nav{

  display: inline-block;
  text-transform: uppercase;
  display: inline;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.nav_links li{ 
  
  margin:right 30%;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  display: inline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li a {
   
  
  display: inline;
  text-decoration: none;
  color:beige;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  padding:20px;

}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    text-align: center;
    font-size:  34px; ;
  }
  .nav_links {
    text-align: center;
    margin-top: 5%;
  }

}


/*----------------------------------------------------------------*/

.text__wrapper {
    background:none;
    text-shadow: none;
 
}
.text__wrapper:hover {
  transition: 0.06s;
  text-shadow : 0 0 3px rgb(255, 255, 255),
    0 0 25px rgb(255, 255, 255),
    0 0 20px rgb(255, 255, 255),
    0 0 100px rgb(255, 255, 255);
    color:#011522;

}

.text-container{
margin-left:10%;
padding-left: 0%;
padding-right: 1%;

}


.text-container-1{

    text-align: justify;
    text-decoration: none;

   



}

.title-element-1{

    text-align: center;
    font-size: 22 ;
    color: #fff;
    padding-top: 20px;
    

}

.container_parent{
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    


}


/*Cards*/

/* Card that is in right side */
.card {
    margin-top: 15vh ;
    float:  right;
    width: 90%;
    height: 300px;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;

}

/* Card that is in left side */


.tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }

.circle {
    padding: 0 4px;
   }
   
.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
.red {
    background-color: #ff605c;
   }
   
.yellow {
    background-color: #ffbd44;
   }
   
.green {
    background-color: #00ca4e;
   }
   
   
/* button styles */
.shadow__btn {
    padding: 10px 20px;
    border-radius: 8px;
    border-color: #011522;
    font-size: 17px;
    color: #fff;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background:none;
    box-shadow: none;
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255),
                0 0 25px rgb(255, 255, 255),
                0 0 50px rgb(255, 255, 255),
                0 0 100px rgb(255, 255, 255);
            
  }

 
   
   .card:hover {
    opacity: 0.8;
    transform: scale(1.10);
   }
   


   

/****************************************************************/
.nav-container {
    margin-left: 15%;
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.nav-container ul {
    display: flex;
    justify-content: flex-end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-container ul li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    list-style: none;
}

.nav-container ul li a {
    text-decoration: none;
    color: inherit;
}


.hr {
    border: 0;
    border-top: 1px solid #fff;
    margin: 1em 0;
    background-color: #fff;
    border-color: #fff;
  }


  /* =================================================================  */ 
  .center{

    text-align:center;
    
  }
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
      
      
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:480px) {
    .footer-dark .item.text {
      margin-bottom:0;
   
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;

    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }


  /*----------------------------------------------------------------*/
  #preloader {
 
    background: rgb(27, 26, 26) url(Preloader/loader.gif) no-repeat center center;
    background-size: 15% ; 
    height: 100vh;
    width:100%;
    position:fixed;
    z-index: 100%
  
  }
  
  /*----------------------------------------------------------------*/

  
  @media (min-width:1025px) {
 
    max-width: 1025px;
    margin:auto;

  }

  @media (min-width:769px) {
    max-width:769px;
    margin:auto;



  }

  @media (min-width:481px) {
 
    max-width:481px;
    margin:auto;

  }


/*---------------------About me page---------------------------------*/
   

.rounded-circle {
  
    border-radius: 50%;
    width: 20vw; /* 20% of the viewport width */
    height: 20vw; /* 20% of the viewport width */
    max-width: 100%;
    max-height: 100%;

  }
  

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
  img {
    width: auto; /* make the image take up the full width of the screen */
  }
}





.center-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  padding: 1%;
  text-justify:absolute;

}


.center-text_1{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:xx-large;
  padding: 5%;
  
}

.arrow {
  cursor: pointer;
  height: 60px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 50px;
}

.arrow-top, .arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.arrow-top:after, .arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.arrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}


/* =====================Portfolio page ============================================

.scrolldown {
  align-items: center;
  justify-content: center;
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

*/