*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



body{
     background-image: url(images/ffflux.svg );
     background-size: cover;
     width: 100%;
     height: 100vh;
     color:#fff;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     

}

@media only screen and (max-width: 480px) {
  body { background-image: url(images/ffflux.svg );
  background-size: auto;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
}

/****************************************************************/


.magic{
background-color: none;

}

.magic:hover {
  box-shadow: 0 0 5px rgb(255, 255, 255),
              0 0 25px rgb(255, 255, 255),
              0 0 50px rgb(255, 255, 255),
              0 0 100px rgb(255, 255, 255);}




/***nav bar*/

  .container_parent {
  
  display: flex;
  align-items: center;
  min-height: 5vh;
  margin:4%;
}

.logo{

margin-left: 6%;
font-size: 44px;
cursor: pointer;

  
}

 

:root {
--nav-bg: #0d0e0f6b;
--main-clr: #fff;
--nav-shadow: color: beige;
}

nav {
  
margin-top: 1%;
display: flex;
align-items: center;
justify-content: space-around;
position: fixed;
width: 100%;
box-shadow:  #fff;
}

nav .logo {
color:  #fff;
text-decoration-color: var(--main-clr);
font-size: 22px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 100px 3px var(--main-clr)
}

nav ul {
--padding: 20px;
--font-size: 17px;

list-style: none;
display: flex;
align-items: center;
font-size: var(--font-size);
overflow-y: hidden;
transition: 1s cubic-bezier(.68,-0.55,.27,10.55);
box-shadow: var(--nav-shadow);
}

nav ul li {
padding: var(--padding);
}

nav ul li a {
color: #fff;
text-decoration: none;
position: relative;
text-shadow: 5px 5px 6px  black;
}

nav ul li a::after {
content: "";
width: 0%;
height: 1.7px;
border-radius: 99px;
background: var(--main-clr);
position: relative;
bottom: 0;
left: 0;
transition: 0.3s ease;
z-index:-1

}

nav ul li a:hover::after {
  
width: 100%;
}

nav .menu {
width: 22px;
height: 16px;
cursor: pointer;
display: none;
align-items: center;
flex-direction: column;
justify-content: space-between;
position: relative;
margin: 20px;
}

nav .menu span {
width: 100%;
height: 2px;
border-radius: 99px;
background:#fff;
transition: 0.3s ease;
transform-origin: left;
}

nav .menu.active span {
background: var(--main-clr);
}

nav .menu.active span:nth-child(1) {
transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
transform-origin: left;
}

nav .menu.active span:nth-child(3) {
transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
transform: scale(0);
}

@media (max-width: 910px) {
nav .menu {
 display: flex;
}

nav ul {
 --height: 0px;

 flex-direction: column;
 background: var(--nav-bg);
 position: absolute;
 width: 100%;
 left: 0;
 top: 56px;
 height: var(--height);
 transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
}
nav ul.active {
 --height: calc(
   (((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber)
 );
 /*   (Block Level Padding + The Font Size) * The Number of Children   */
 
 
 transition: 1s ease;
}

nav ul li {
 width: 100%;
 text-align: center;
}
nav ul li a {
 width: 100%;
 text-transform: capitalize;
}
}
/*----------------------------------------------------------------*/

.style_text {

  
  text-align: center;

}


/*----------------------------------------------------------------*/

.text__wrapper {
    background:none;
    text-shadow: none;
 
}
.text__wrapper:hover {
  transition: 0.06s;
  text-shadow : 0 0 3px rgb(255, 255, 255),
    0 0 25px rgb(255, 255, 255),
    0 0 20px rgb(255, 255, 255),
    0 0 100px rgb(255, 255, 255);
    color:#011522;

}

.text-container{
margin-left:10%;
padding-left: 0%;
padding-right: 1%;

}


.text-container-1{

    text-align: justify;
    text-decoration: none;

}

.title-element-1{

    text-align: center;
    font-size: 22 ;
    color: #fff;
    padding-top: 20px;
    

}

.container_parent{
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    


}


/*Cards*/
.token-container {
  margin: 1%;
  padding: 3%;
  color: rgb(255, 255, 255);
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  
  
}
/* Card that is in right side */
.card_p{
    
  margin: 0.5rem;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  background-color: #97a9f31c;
  border-radius: 20px;
}

.card {
    
    
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    background-color: #97a9f31c;
    border-radius: 4px;
}

.card--1{


}

.card--2{
  
}

.card--3{

}

   
   
/* button styles */
.shadow__btn {
    padding: 10px 20px;
    border-radius: 8px;
    border-color:#fff;
    font-size: 17px;
    color: #fff;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  
  }
  
  .shadow__btn {
    background:none;
    box-shadow: none;
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255),
                0 0 25px rgb(255, 255, 255),
                0 0 50px rgb(255, 255, 255),
                0 0 100px rgb(255, 255, 255);
            
  }

 
   
   .card:hover {
    opacity: 0.8;
    transform: scale(1.10);
   }
   

  /* =================================================================  */ 
  .center{

    text-align:center;
    

  }
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:inherit;
    text-shadow: 5px 5px 6px  rgb(0, 0, 0);
  }
  .footer-dark li {
    display: inline;
    
  }
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    word-spacing: 3px;
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
    
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
    
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark ul a {
      position: relative;
      display: list-item;
      color:inherit;
      text-decoration:none;
      
  }   
  }

  
  @media (max-width:480px) {
    
    .footer-dark ul a {
        position: relative;
        display: list-item;
        color:inherit;
        text-decoration:none;
        
    }   
  } 
 

  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }


  /*----------------------------------------------------------------*/
  #preloader {
 
    background: rgb(27, 26, 26) url(Preloader/loader.gif) no-repeat center center;
    background-size: 15% ; 
    height: 100vh;
    width:100%;
    position:fixed;
    z-index: 100%
  
  }
  
  /*----------------------------------------------------------------*/

  
  


/*---------------------About me page---------------------------------*/
   

.rounded-circle {
  
    border-radius: 50%;
    width: 20vw; /* 20% of the viewport width */
    height: 20vw; /* 20% of the viewport width */
    max-width: 100%;
    max-height: 100%;
    
  
  }
  

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
  img {
    width: auto; /* make the image take up the full width of the screen */
  }
}



.card_about{
  
  background-color: #97a9f31c;
  padding:5%;
}

.center-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:center;
  font-size:large;
  
}

.ppp{

  font-size: x-large;
  text-align: center;


}


.center-text_1{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:center;
  font-size:large;
  padding:1%;
}


@media (max-width: 480px) {
  .center-text {
    text-align:none;
    font-size: small;
  }
  .footer-dark{
    background-color: #353f46;
  }

  .ppp{

    font-size: large;
  }

  .center-text_1{
    text-align:none;
    font-size: small;
    
  }
}





/* =====================Portfolio page ============================================ */


.container_grid {
    min-height: 100%;
    width: 100%;
    padding: 5rem;
    background-color: inherit;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    
  }
  
  .feature {
    display: grid;
    padding: 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 0.5rem;
   
  }
  
  .item {
    margin: 0.5rem;
    padding: 6rem;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-family: sans-serif;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    transition: all 0.2s; 
  }

  
  .item--1 {
    
    background-color: rgb(38, 39, 40);
    background-image: url("../images/background-repeat no-repeat; (1).png" );
    
  }
  .item--2 {
    background-color: inherit;
    background-image: url("../images/screenshot.png" );
   
  }
 .item--3 {
    background-image: url("../images/img1.png" );
    background-position: center;
    
    background-repeat: no-repeat;
    background-color: rgb(61, 60, 60);
  }
  .item--4 {
    background-color: green;
  }
  .item--5 {
    background-color: teal;
  }
  .item--6 {
    background-color: navy;
  } */
  .item:hover {
    background-color: beige;
    color: rgb(252, 250, 250);
    transform: translate(0, -0.3rem);
    box-shadow: 0 1rem 4rem beige;
  }
  .item a:visited {
    color:black ;
 
    

  }
 /********************************/

.center_item{

  align-items: center;

}


/*=========*/

/* unvisited link */
.a:link {
  color: inherit;
}

/* visited link */
.a:visited {
  color: inherit;
}

/* mouse over link */
.a:hover {
  color: inherit;
}

/* selected link */
.a:active {
  color:inherit;
}



/*=========*/

.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 80%;
  padding: 20px;
}

.column-33 {
  right: 0px;
  float: left;
  width: 20%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}


.img_1 {
  display: block;
  height: auto;
  max-width: 100%;
}

.img_2 {
  display: block;
  height: auto;
  max-width: 100%;
  margin-right: 50%;

}

@media (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  .img_1 {
    margin: auto;
  }
  .img_2 {
    margin: auto;
  }
  
}


.right{

  text-align:right;;
  
}

.left{

  text-align:start;
  
}
/*
.typewriter  {
  color: #fff;
  font-family: inherit;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
 /* white-space: nowrap; /* Keeps the content on a single line */
  /*-margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /*letter-spacing: .15em; /* Adjust as needed */
  /*animation: 
    typing 4.5s steps(30, end),
    blink-caret .5s step-end infinite;
                             }


/*

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(240, 240, 240) }
}